.product-title{
    font-style: 28px;
    margin: 15px 0;
}
.product-description{
    font-style: 20px;
    margin-bottom: 15px;
}
.product-features{
    font-style: 18px;
    margin-bottom: 15px;
}
.product-prise{
    font-style: 22px;
    margin-bottom: 15px;
}
.btns-wrap{
    display: flex;
    justify-content: center;
}
.product-image{
    text-align: center;
    img{
        width: 150px;
        height: 185px;
    }
}
.product-qantity{
    display: flex;
    margin-bottom: 10px;
    imput{
        text-align: center;
    }
}
